<div fxLayout="row" fxLayoutGap="40px" fxLayout.xs="column" fxLayoutAlign="center">

    <div fxFlex="50" fxLayout="column">
        <h1>Nuevo elemento</h1>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="50px">
            <mat-form-field fxFlex="100" fxLayout.xs="column">
                <mat-label>Nombre del elemento</mat-label>
                <input matInput type="text" required>
            </mat-form-field>

            <mat-form-field fxFlex="100">
                <mat-label>Peso del elemneto</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="50px">
            <mat-form-field>
                <mat-label>Simbolo del elemento</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>
        <br>


        <div fxLayout>
            <button mat-raised-button color="primary" (click)="guardar()">
                <mat-icon>edit</mat-icon>
            </button>


            <span class="spacer"></span>


        </div>


    </div>



</div>